[submodule "3rdparty/reflect-cpp"]
	path = 3rdparty/reflect-cpp
	url = https://github.com/getml/reflect-cpp
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/random"]
	path = 3rdparty/random
	url = https://github.com/ilqvya/random
[submodule "3rdparty/reflect"]
	path = 3rdparty/reflect
	url = https://github.com/qlibs/reflect
