[submodule "3rdparty/reflect-cpp"]
	path = 3rdparty/reflect-cpp
	url = https://github.com/getml/reflect-cpp
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/random"]
	path = 3rdparty/random
	url = https://github.com/ilqvya/random
[submodule "3rdparty/enchantum"]
	path = 3rdparty/enchantum
	url = https://github.com/ZXShady/enchantum
[submodule "3rdparty/StringZilla"]
	path = 3rdparty/StringZilla
	url = https://github.com/ashvardanian/StringZilla
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/nanobind"]
	path = 3rdparty/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "3rdparty/thread-pool"]
	path = 3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "3rdparty/strong_type"]
	path = 3rdparty/strong_type
	url = https://github.com/rollbear/strong_type
[submodule "3rdparty/flags"]
	path = 3rdparty/flags
	url = https://github.com/sailormoon/flags
[submodule "3rdparty/leaf"]
	path = 3rdparty/leaf
	url = https://github.com/boostorg/leaf
